<section id="footer" class="parallax-background compact">
  <section class="container {{ grid_size }}">
    <div style="display:flex; align-items:center; justify-content:space-between; padding-bottom: 0.5rem;">
      <span>© 2025 Andreas Kellerer</span>

      <nav style="display:flex; gap:.9rem;">
        <a href="{{ page.find('/datenschutzerklaerung').url }}">Datenschutzerklärung</a>
        <a href="{{ page.find('/impressum').url }}">Impressum</a>
      </nav>
    </div>
  </section>
</section>

